name: check semantic versioning
run-name: ${{ github.actor }}'s patch
on: [push, pull_request]

jobs:
  check-semantic-versioning:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run cargo-semver-checks
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          features: "std,step_trait,defmt,serde,borsh,schemars"
